<!DOCTYPE html>
<html>
<head>
    <title>Restaurant</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <p>Hello, {{ user.username }}!</p>
                <a href="{% url 'dish_list' %}">Home</a>
                 {% if user.is_staff %}
                 <a href="{% url 'dish_create' %}">Add dish</a>
                 {% endif %}
                <a href="{% url 'order_list' %}">Orders</a>
                <a href="{% url 'review_list' %}">Reviews</a>
               <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            {% else %}
                <a href="{% url 'dish_list' %}">Home</a>
                <a href="{% url 'login' %}">Log in</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
