{% extends 'base.html' %}
{% block content %}
<div class="order_list">
    <h2>Orders</h2>

      {% for order in orders %}
        <div class="order_cards">
          <div class="card_order">
              <h3>{{ order.dish.name }}</h3>
              <p><strong>Quantity:</strong> {{ order.quantity }}</p>
              <p><strong>User:</strong> {{ order.user.username }}</p>
              <p><strong>Time:</strong> {{ order.order_date|date:"Y-m-d H:i" }}</p>
          </div>

          {% if user == order.user and not user.is_staff %}
             <a href="{% url 'order_delete' pk=order.pk %}" class="delete_btn">Delete</a>
          {% endif %}

        </div>
      {% empty %}
      <div class="empty_message">
        <h2 >Orders not found</h2>
      </div>
      {% endfor %}

</div>

{% endblock %}
