{% extends 'base.html' %}

{% block content %}
<div class="review_list">
    <h2>Reviews</h2>

    {% if reviews %}
   <div>
        {% for review in reviews %}
        <div class="review_cards">
            <div class="card_review">
                  <h3>{{ review.dish.name }}</h3>
                    <p><strong>Star:</strong> {{ review.rating }}</p>
                    <p><strong>Comment:</strong> {{ review.comment }}</p>

            </div>

                {% if user == review.user and not user.is_staff %}
             <a href="{% url 'review_delete' pk=review.pk %}" class="delete_btn">Delete</a>
                {% endif %}
        </div>
        {% endfor %}
   </div>
    {% else %}

   <div class="empty_message">
          <h2 >Reviews not found</h2>
   </div>
    {% endif %}
</div>
{% endblock %}
